import React, { useState, useEffect } from "react";
import { useTranslation } from "react-i18next";
import { useSelector, useDispatch } from "react-redux";
import "./styles.scss";

interface {{name}}Props {

}
const {{name}}: React.SFC<{{name}}Props> = (
  props: {{name}}Props
): JSX.Element => {
  const dispatch = useDispatch();
  const { t } = useTranslation();
  useEffect(() => {}, []);

  return (
    <div>
      {{name}}
    </div>
  );
}
export default {{name}};
